<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <header>
        <h2>
            Search by Title or Auther
        </h2>
        </header>
        <form action="">
            <input type="text" placeholder="Enter a title or auther">
            <label for="">Title</label>
            <input type="radio" name="Title" >
            <label for="">Auther</label>
            <input type="radio" name="auther" >
            <button>Search the Google Books API</button>
        </form>
    </main>
    
</body>
</html>